
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.button {
  transition-duration: 0.4s;

  color: rgb(0, 0, 0);
}
body{

 background-image: url("https://webneel.com/wallpaper/sites/default/files/images/08-2018/3-nature-wallpaper-mountain.jpg");
 height: 100%;
 font-family: 'Righteous', cursive;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.button:hover {
  font-family: 'Righteous', cursive;
  background-color: #fabaec;
  color: rgb(253, 0, 0);
}
p{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family: 'Water Brush', cursive;
}
img {
  
  padding-left: 78px;
  border-radius: 78%;
  
}
.screen {		
  border-radius: 2%;
  background: rgba(229, 226, 226, 0.8);
  backdrop-filter: saturate(48442%) blur(10px);
	position: relative;	
	height: 498px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}
.container {

	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
.login__input {

	padding-left: 72px;

}
.button1 {padding: 9px 94px;
  border-radius: 4%;
  border: none;
  font-family: 'Righteous', cursive;
}
.button:focus{
  
 background-color: rgb(134, 241, 255);


}

.type{
  background-color: none;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4%;
  height: 22px;
	width: 230px;	


}
